
    <form class="form-signin" action="/reset/" method="POST">
     
      <div class="form-label-group">

        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
          <p>Type your new password below to reset it.</p>
        </div>
      
      <div class="form-label-group">
        <input type="password" id="inputPassword1" name="newpassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword1">New Password</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword2" name="retypepassword" class="form-control" placeholder="Retype Password" required>
        <label for="inputPassword2">Retype Password</label>
      </div>
      <input type="hidden" id="token" name="token" value="{{token}}" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
    </form>

